/* type selectors */
html {
	background-image: -moz-linear-gradient(to bottom, white 0%, #dfc49f 100%);
	background-image: -webkit-linear-gradient(to bottom, white 0%, #dfc49f 100%);
	background-image: -o-linear-gradient(to bottom, white 0%, #dfc49f 100%);
	background-image: linear-gradient(to bottom, white 0%, #dfc49f 100%);
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 96%;                       /* changed from 990 */
	max-width: 1200px;                /* maximum width of page */
	background-color: white;
	margin: 15px auto;
	padding: 15px 0;
	border: 1px solid black;
}
article, aside, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
article, aside {
	margin-bottom: 1em;
}
p {
	font-size: .875em;                   /* 14 / 16 */
	padding-bottom: .5em;
	line-height: 130%;
}
em {
	font-weight: bold;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link, a:visited {
	color: gray;
}
a:hover, a:focus {
	color: black;
}

/* styles for the header */
header {
    background-image: linear-gradient(to bottom, white 0%, #dfc49f 100%);
	width: 100%;                        
	padding-bottom: 2em;
}
header h2 {
	font-size: 2.25em;                   
	color: #042c64;
	font: ;
	margin-left: 12.12121%;             
	margin-bottom: .25em;
}
header h3 {
	font-size: 1.25em;                   
	font-style: italic;
	margin-left: 12.12121%;              
}
header img {
	width: 8.0808%;                      
	max-width: 80px;                     
    min-width: 40px;
	float: left;
	margin-left: 2.0202%;                
}
/* styles for the navigation menu */
#nav_menu ul {
	width: 125%;                        
	list-style-type: none;
	position: relative;
    
}

#nav_menu ul li {
	float: left;
    color: orange;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
}
#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}
#nav_menu ul li.lastitem ul li ul {
	position: absolute;
	left: -100%;
	top: 0;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
/* styles for the navigation menu - formatting */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	width: 20%;                             
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
    color: white;
	background-color: #042c64;
}
#nav_menu ul li a.current {
	color: #dfc49f;
}


/*  styles for the article */
article {
	width: 54.0404%;                  
	float: right;
	margin-left: 2.0202%;             
	padding: 1.5em 2.52525% 0 0;      
}
article h1 {
	font-size: 1.75em;                
	margin-bottom: .50em;
}
article h2 {
    font-size: 1.10em;               
	margin-bottom: .35em;
}
article p {
	margin-bottom: .5em;
}
article img {
    width: 400px;
    height: 400px;
	margin-bottom: 1em;
	max-width: 70%;                  
}
/*  styles for the sidebar */
aside {
	width: 35.35353%;                 
	float: right;
	padding: 2.0202%;                 
	background-color: #add8e6;
	margin: 1.5em 2.0202% 0 0;        
}
aside h2 {
	font-size: 1.25em;               
	padding-bottom: .5em;
}
aside h3 {
	font-size: 1em;                  
	color: #931420;
	padding-bottom: .5em;
}
aside ul {
	margin-top: 0;
	margin-bottom: 1.5em;
}
aside li {
	font-size: .875em;              
	padding-bottom: .35em;
}
aside img{
    width: 200px;
    height: 200px;
	margin-left: 1em;
	max-width: 70%;                
}
aside figcaption{
    color: black;
}
/* styles for the footer */
footer {
	clear: both;
	width: 100%;                    
	border-top: 2px solid #042c64;
	padding-top: .7em;
}
footer p {
	font-size: .75em;               
	text-align: right;
	margin-right: 2.0202%;          
}
